@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  line-height: 1.7;
  background-color: #0f0f0f;
  color: #ffffff;
}

a.active {
  background-color: #1a1a1a;
  padding: 14px 28px;
  border-radius: 50px;
}

@theme {
  --text-gray: #808080;
}
